{% extends 'base-admin.html.twig' %}

{% block title %}New ArticleHome{% endblock %}

{% block body %}
    <h1>Create new ArticleHome</h1>

    {{ include('admin_article_home/_form.html.twig') }}

    <a href="{{ path('admin_article_home_index') }}">back to list</a>
{% endblock %}
