{% block body %}
	{% if books is not null and books|length > 0 %}
		<div class="row">
			{% for book in books %}
				<div class="col-12 col-md-3 col-xl-2">
					<div class="card">
						<img src=" {{ asset ('images/livres/' ~ book.imageName)}} " alt=" {{ book.title }} " class="card-img-top">
						<div class="card-body">
							<h5 class="card-title text-center">{{ book.title|capitalize}}
							</h5>
							<a href=" {{ path('book-detail', {'id': book.id} )}} " class="btn btn-dark w-100">Voir le detail</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Aucun livre disponible</p>
	{% endif %}
{% endblock %}
