{% extends 'base-admin.html.twig' %}

{% block title %}New Home{% endblock %}

{% block body %}
    <h1>Create new Home</h1>

    {{ include('admin_home/_form.html.twig') }}

    <a href="{{ path('admin_home_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');
            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                /__name__/g,
                collectionHolder.dataset.index
                );
            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
    };
    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });
</script>
{% endblock %}
